html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('./images/retina_wood.png')
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 100px;
	text-align: center;
}

h2 {
	font-family: 'Crete Round', serif;
	font-size: 35px;
	text-align: center;
	margin-bottom: 0px;
}

.createaccount{
	height:600px;
	width:400px;
	background-color: white;
	margin: auto;
	margin-top: 50px;
	border-radius: 5px;
}

label{
	font-family: 'Crete Round', serif;
	font-size: 20px;
	margin-left: 50px;
	padding-top: 25px;
}

input {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin-left: 75px;
}

label, input {
	display: block;
}

button {
	height: 50px;
	width: 300px;
	margin-left: 50px;
	background-color: black;
	color:white;
	font-family: 'Crete Round', serif;
	font-size: 30px;
}